.change-password {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1d4666;
  color: white;

  &__title {
    margin-bottom: 30px;
  }

  &__desc {
    margin-bottom: 35px;
  }
}