.form {
  display: flex;
  flex-direction: column;
  position: relative;
  //justify-content: space-evenly;
  background-color: #1d4666;
  min-height: 200px;
  border-radius: 10px;
  margin: 0 auto;
}